<header style="background:linear-gradient(#FF6F00,#C62828);margin:-16px;padding:1rem;">
	<h1 style="color:#fff">Bienvenido al sistema de programación de suprapak S.A.S.</h1>	
</header><!-- /header -->

<div class="row">
	<div class="small-6 columns">
		<div class="row" style="margin-top:2rem">
			<div class="small-2 columns" style="display:flex;justify-content:center;">
				<i class="icon-search" style="margin:auto;color:#F44336;font-size:50px"></i>
			</div>
			<div class="small-10 columns">
				<h3 style="color:#B71C1C">Buscar un pedido</h3>
				<p style="color:grey">Aquí encontrará un pequeño formulario donde podrá ingresar parámetros de búsqueda. Si desea buscar por un numero de pedido especifico, por favor digitarlo sin la letra "K"
				</p>
				<%= link_to "Buscar pedido",orders_search_path, style:"background:#FF8A80",class:"button round"%>
			</div>
		</div>
		
		
	</div>
</div>