<div ng-app="apsApp">
  <div ng-controller="getOrdersController">
    <h1>Obtener pedidos</h1>
    <div id="foo"></div>
    <ul class="tabs" data-tab>
      <li class="tab-title active"><a href="#panel11">Pedidos aprobados</a></li>
      <li class="tab-title"><a href="#panel21">Pedido especifico</a></li>
    </ul>
    <div class="tabs-content">
      <div class="content active" id="panel11">
        <button ng-click="getOrders()" ng-hide="orders.length > 0" class="button">Traer pedidos Aprobados</button>
      </div>
      <div class="content" id="panel21">
        <input ng-model="order_number" ng-hide="orders.length > 0" type="number" placeholder="Numero de pedido">
        <button ng-click="getOrder()" ng-hide="orders.length > 0" class="button">Traer pedido</button>
      </div>
    </div>
    
    <table id="table_orders">
      <thead>
        <tr>
          <th>pedido</th>
          <th>tipo</th>
          <th>ficha</th>
          <th>cliente</th>
          <th>cantidad</th>
          <th>um</th>
          <th>valor unitario</th>
          <th>fecha solicitada</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody id="tbody_orders">
        <tr ng-repeat="order in orders">
          <td>{{order.order_number}}</td>
          <td>{{order.order_type}}</td>
          <td>{{order.sheet_client}}-{{order.sheet_number}}</td>
          <td>{{order.outsourced_name}}</td>
          <td>{{order.order_quantity}}</td>
          <td>{{order.order_um}}</td>
          <td>{{order.order_unit_value}}</td>
          <td>{{order.order_date_request}}</td>
          <td><button ng-click="createOrder(order)" class="button tiny">Activar</button></td>
        </tr>
      </tbody>
      <tfoot id="tfoot_orders"></tfoot>
    </table>
  </div>
</div>