<div ng-app="apsApp">
	<p class="subtitle">Pedidos en programacion</h1>
	<div ng-controller="OrdersController">
		<%= render 'list'%>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$('#contentMain').addClass('full-width');
    	$('table').DataTable({
    		"language": {
    			"lengthMenu":     "Mostrar _MENU_ pedidos",
    			"info": "Mostrando _START_ hasta _END_ de _TOTAL_ pedidos",
    			"search":         "Buscar:",
    			"zeroRecords":    "Pedido no encontrado",
    			"loadingRecords": "Cargando...",
				"processing":     "Procesando...",
    			 "paginate": {
				    "first":      "Primero",
				    "last":       "Ultimo",
				    "next":       "Siguiente",
				    "previous":   "Anterior"
				}
    		}
    	});
	} );
</script>
