<%=render 'show'%>
<ul>
<li> <%=link_to "Programar", schedule_order_path(@order), target:"_self"%> </li>
</ul>
<%=render 'subprocesses/list'%>

<% link_to 'Edit', edit_order_path(@order) %>
<% link_to 'Back', orders_path %>
