<h1>Nueva modificacion</h1>

<p>
  Hola, <%=@user.email%> acaba de registrar una nueva modificacion para el pedido <%=@modification.order.order_number%>
</p>
<p>
	<%= link_to 'Ver modification', @modification%>
</p>
