<h1>Modificacion realizada</h1>
<p>
	La modificacion #<%=@modification.id%> del pedido <%=@modification.order.order_number%> se ha marcado como realizada.
</p>
<p>
	<%= link_to 'Ver modification', @modification%>
</p>