<p class="subtitle">Procesos</p>
<table>
  <thead>
    <tr>
      <th>id</th>
      <th>Name</th>
      <th>Press</th>
    </tr>
  </thead>

  <tbody>
    <% @procedures.each do |procedure| %>
      <tr>
        <td><%= link_to procedure.id, procedure %></td>
        <td><%= procedure.name %></td>
        <td><%= procedure.press %></td>
        <% link_to 'Show', procedure %>
        <% link_to 'Edit', edit_procedure_path(procedure) %>
        <% link_to 'Destroy', procedure, method: :delete, data: { confirm: 'Are you sure?' } %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Procedure', new_procedure_path %>
