<p class="subtitle">
  <%= @procedure.name %>
</p>

<p>
  <strong>Prensa:</strong>
  <%= @procedure.press %>
</p>
<p>
	<strong>Maquinas:</strong>
	<ul class="side-nav">
	<%@machines.each do |machine|%>
		<li><%=link_to machine.name, machine_path(machine)%></li>
	<%end%>
	</ul>
</p>
