@import url(https://fonts.googleapis.com/css?family=Montserrat);
$font-family: 'Montserrat', sans-serif;
*{
	font-family:$font-family;
}
.subtitle{
	font-size:1.3rem;
	padding:1em;
	text-align:left;
	border-left:5px solid #007095;
	background:#E6EEF1;
	color:#384047;
}
.scroll{
	display: block;
    width: 100%;
    overflow-x: scroll;
}
.disabled{
	background-color: #DDDDDD !important;
    cursor: default !important;
}
.item-slope{
	border-bottom: 6px solid black !important;
}
.item-success{
	border-bottom: 6px solid #5FCF80 !important;
}