// Place all the styles related to the subprocesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@mixin sortable(){
	list-style-type:none;
    width: 100%;
    min-height: 20px;
    margin: .3rem;
    padding: .3rem;
    float: left;
    // border: 1px solid #eee;
}
@mixin shadow(){
    box-shadow:0 1px 1px 0 rgba(0,0,0,.06),0 2px 5px 0 rgba(0,0,0,.2);
}
.ui-state-highlight { 
    height: 2rem; 
    line-height: 1.2em;
    background-color: rgba(33, 150, 243, 0.9) !important;
    border: 1px solid #186881 !important;
}
.days >.sortable{
    @include sortable();
    @include shadow();
    .equivalence{
        color: gray;
        font-size: 10px;
    }
    li { 
        background: #eee; 
        position:relative;
        margin: 2px 0; 
        padding: 2px; 
        border: 1px solid #ddd; 
        padding-left: 42px; 
        .handle { 
            background: white; 
            position: absolute; 
            left: 0; 
            top: 0; 
            bottom: 0; 
            padding:8px; 
        }
    }
    .ui-selecting { 
        background: #eee; 
        .handle { 
            background: #ddd; 
        }
    }
    .ui-selected { 
        background: #def;
        .handle { 
            background: #cde; 
        }
    }
}
.content-clipboard{
    @include shadow();
    padding: 1rem;
    min-width: 120px;
    position: fixed;
    background-color:#FFF;
	.sortable{
        padding-top: .5rem;
		@include sortable();
		float:none;	

        li{
            padding-left:0;
            dl{
                list-style-type:none;
                margin: 0;
                padding:0;
                dd{
                    margin: 0;
                    padding: 0;
                }
            }
        }
	}	
}
.progress {
  margin: 0 auto 1rem auto;
  padding: 0;
  width: 100%;
  height: 20px;
  overflow: hidden;
  background: #e5e5e5;
  border-radius: 6px; 
    .meter {
      position: relative;
      float: left;
      min-width: 1%;
      height: 100%; 
        .percent {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        font-family: tahoma,arial,helvetica;
        font-size: 12px;
        color: white; 
        }
    }
}
.head-subprocess{
    margin-left: 4px !important;
    position:relative;
    margin: 2px 0; 
    padding: 2px; 
    border: 1px solid #ddd; 
    padding-left: 42px; 
    .handle { 
        background: white; 
        position: absolute; 
        left: 0; 
        top: 0; 
        bottom: 0; 
        padding:8px; 
    }
}
.table-record-subprocess{
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;

    tr td, tr th{
        line-height:.2rem;
    }
    tr, td{
        font-size: 12px;
        color: gray;
    }
}
.full-width {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}















