$header-color: #fc6e51;
$bg-color: #fff;
$font: #888;

.weather {
  border: 1px solid #eee;
  box-shadow: 0 2px 0 rgba(204,204,204,.15);
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  background: $bg-color;
  position: relative;
  
  .header {
    background: $header-color;
    height: 6.2rem;
    font-size: 1.25rem;
    font-weight: 600;
    color: #fff;
    line-height: 6.2rem;
    padding: 0 1.25rem;
    overflow: hidden;
    position: relative;
    
    h2 {
      text-align: center;
      margin: 0;
      color: #fff;
      font-size: 1.8rem;
      font-weight: bold;
      -webkit-margin-before: 0.83em;
      -webkit-margin-after: 0.83em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
    }
  }
  
  .weather-icon {
    position: absolute;
    right: 1.25rem;
    top: 2.2rem;
    font-size: 1.7rem;
    line-height: 1em;
  }
  
  .weather-icon-shadow {
    position: absolute;
    color: rgba(0,0,0,0.05);
    font-size: 8rem;
    top: -1.25rem; 
    right: -1.25rem;
    transform: rotate( -20deg );
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .day {
    padding: 1.25rem 1.9rem;
    border-bottom: 1px solid #f2f2f2;
    color: $font;
    &:last-child {
      border-bottom: none;
    }
  
    .image {
      display: block;
      float: left;
      margin-right: 0.75rem;
    }

    .day-title {
      text-transform: uppercase;
      color: scale-color($font, $lightness: -25%);
      font-weight: 600;
    }
    
    .day-icon {
      margin-top: -0.7rem;
      color: scale-color($font, $lightness: -25%);
      font-size: 1.25rem;
      float: right;
    }
    .day-info{
      display: block;
      text-align: right;
    }
  }  
}

