<div ng-app="apsApp">
	<div ng-controller="machinesController">
		<p class="subtitle">
			<strong style="color:#008CBA"><%=@machine.name%></strong>
		</p>
			<div class="row">
				<div class="small-12 medium-8 columns">
					<%@machine.procedures.first.machines.each do |machine|%>
						<%= link_to machine.name, todo_subprocess_path(machine), target:"_self",class:"label label-link-machine"%>
					<%end%>
				</div>
				<div class="small-12 medium-4 columns">
					<div class="row form-search">
						<div class="small-2 columns">
							<label><i class="icon-search"></i> </label>
						</div>
						<div class="small-10 columns">
							<input id="inputSearchFish" ng-model="searchFish" ng-change="getMachineSearch(this)" placeholder="Buscar">
						</div>
						
					</div>
					
					
				</div>
			</div>
		<p id="dateTimeNow"></p>
		<input id="procedure_id" value="<%=@machine.procedures.first.id%>" type="hidden">		
		<input id="id_machine" value="<%=@machine.id%>" type="hidden">
		<table>
			<tr>
				<th>ID</th>
				<th>PEDIDO</th>
				<th>TIPO</th>
				<th>CLIENTE</th>
				<th>FICHA</th>
				<th>METROS</th>
				<th>CANTIDAD</th>
				<th>MINUTES</th>
				<th>PELICULA</th>
				<th>RODILLO</th>
				<th>CABIDAS</th>
				<th>FECHA I</th>
				<th>FECHA F</th>
				<th>PARCIAL</th>
				<th>TERMINAR</th>
			</tr>
			<tr ng-repeat="subprocess in subprocesses | filter:searchFish">
				<td>{{ subprocess.id }}</td>
				<td>{{ "K"+subprocess.order.order_number }} {{validateQuantityMissing(subprocess.order.repeat)}}</td>
				<td>{{ subprocess.order.order_type }} <i ng-if="subprocess.order.sheet_print" class="icon-print"></i></td>
				<td>{{ subprocess.order.outsourced_name }}</td>
				<td>{{ subprocess.order.sheet_client }}-{{ subprocess.order.sheet_number }}</td>

				<td>{{ subprocess.meter }}</td>
				<td>{{ subprocess.order.order_quantity}} {{subprocess.order.order_um}}</td>
				<td>{{ subprocess.minutes }}"</td>

				<td>{{ subprocess.order.sheet_film }}-{{subprocess.order.sheet_caliber}}</td>
				<td>{{ subprocess.order.sheet_roller }}</td>
				<td>{{ subprocess.order.sheet_spaces }} Cab</td>

				

				<td>{{ subprocess.start_date | date :'short'}}</td>
				<td>{{ subprocess.end_date | date :'short'}}</td>
				
				<td>
					<div class="row collapse postfix-round" ng-init="subprocess.sw = true">
				        <div class="small-9 columns">
				          <input style="width:100px" ng-model="subprocess.quantity_finished" ng-readonly="subprocess.sw" ng-click="subprocess.sw = false" type="number">
				        </div>
				        <div class="small-3 columns">
				          <button ng-click="saveQuantityFinished(subprocess)" class="button postfix"><i class="icon-floppy-o"></i></button>
				        </div>
				    </div>
			  </td>
       
				<td><button ng-click="endSubprocess(subprocess.id)" class="button success tiny">TERMINAR</button></td>
				
			</tr>
		</table>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$('#contentMain').addClass('full-width');
		moment.locale('es');
		$('#dateTimeNow').text(moment().format('LL'));
		$('#inputSearchFish').focus();
		
	});
</script>